.search_box {
    .ant-form-inline .ant-form-item-with-help {
        margin-bottom: 0;
    }
    .ant-form-item-explain {
        position: absolute;
        right: -233px;
        top: 12px; 
    }
}